* {
  padding: 0px;
  margin: 0px;
}
.heading-1 {
  font-size: medium;
  font-weight: 500;
}
.heading-2 {
  font-size: 40px;
  font-weight: 900;
}
.btn {
  background-color: #0e7a81;
}

.font {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 15px;
}
.text {
  display: flex;
  justify-content: center;
}
